<app-clock class="block ml-2 mb-2 text-l"></app-clock>
<div>
  <div *ngFor="let train of departures$ | async | slice: 0:5" class="departure">
    <div class="flex justify-between items-center">
      <div>
        <h1>{{ timeLeft(train.ExpectedDateTime) }} min</h1>
        <div class="mt-2 text-l">
          ({{ train.ExpectedDateTime | date: "HH:mm" }})
        </div>
      </div>
      <div>
        <div class="flex items-center">
          <mat-icon class="mr-2">train</mat-icon>
          <div class="chip">{{ train.GroupOfLine }} {{ train.LineNumber }}</div>
        </div>
        <div class="text-right">
          <b class="text-gray-500">{{ train.Destination }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
