<!-- <mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar> -->
<div class="app-container">
  <div class="app-content">
    <mat-card>
      <div class="w-full flex items-center">
        <div class="flex-grow mr-2">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Nästa avgång från</mat-label>
            <input
              type="text"
              matInput
              [formControl]="fromCtrl"
              [matAutocomplete]="fromAuto"
            />
            <mat-autocomplete #fromAuto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let option of fromSites$ | async; trackBy: trackBySiteId"
                [value]="option"
              >
                {{ option.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Destination</mat-label>
            <input
              type="text"
              matInput
              [formControl]="toCtrl"
              [matAutocomplete]="toAuto"
            />
            <mat-autocomplete #toAuto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let option of toSites$ | async; trackBy: trackBySiteId"
                [value]="option"
              >
                {{ option.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <button mat-icon-button  (click)="swap()"><mat-icon>swap_vert</mat-icon></button>
      </div>

      <mat-card-content>
        <!-- <app-station
          *ngIf="selectedFrom"
          [from]="selectedFrom"
          [to]="selectedTo"
        ></app-station> -->

        <app-route-planner
        *ngIf="selectedFrom && selectedTo"
        [from]="selectedFrom"
        [to]="selectedTo"
      ></app-route-planner>
      </mat-card-content>
    </mat-card>
  </div>
</div>
