<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<div class="app-container">
  <div class="app-content">
    <mat-card>
      <mat-card-title>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Nästa avgång från</mat-label>
          <input
            type="text"
            matInput
            [formControl]="fromCtrl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let option of fromSites$ | async"
              [value]="option"
            >
              {{ option.Name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Destination</mat-label>
          <input
            type="text"
            matInput
            [formControl]="toCtrl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let option of toSites$ | async"
              [value]="option"
            >
              {{ option.Name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-card-title>

      <mat-card-content>
        <app-station
          *ngIf="selectedFrom"
          [from]="selectedFrom"
          [to]="selectedTo"
        ></app-station>
      </mat-card-content>
    </mat-card>
  </div>
</div>
