.departure {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 14px 18px 12px 18px;
    margin-bottom: 18px;
  }
  
  h2, h4 {
    margin: 0 !important;
  }
  

  .follow-leg {
    margin-top: 12px;
    padding-top: 16px;
    margin-left: 12px;
    border-top: 1px solid rgb(194, 194, 194);
  }